

body{
    position : absolute;
    width : 100%;
    background-color:#F2F2F2 ;
    overflow: auto;
}

/**********
TITRE DU SITE
**********/
header {
    background: url(Images/Logo-Sareco_redim2.png) right  no-repeat ;
    
}

h1 {
    line-height: 115.2%;
    text-align: center;
    font-size: 50px;
    font-family: Segoe UI  (700);
    font-style: normal;
    color: #342626;
}

p{
    font: Segoe UI  (400);
    font-size: 18px;
    color: #826161;
    line-height: 135%;
}

/**********
AGENCEMENT DU SITE
**********/
article{
    padding: 5px;
    margin: 5px;
    background: #FFFFFF;
    
}

/*****
Add your flexbox CSS below here
*****/
section{
    display : flex;
}

article{
    flex: 1 100px;
}

article:nth-of-type(1){
    display : flex;
    flex-flow: column;
    background: #FFFFFF;
    
}

article:nth-of-type(2){
    flex: 3 200px;
    display: flex;
    flex-flow: column;
}

/**********
TITRE CHOIX DES INDICATEURS
**********/
h4{
    font-family: Segoe UI  (700);
    font-size: 20px;
    line-height: 109.2%;
    text-align: center;
    color: #FFFFFF;
    background: #342626;  
    padding: 10%;
}

/**********
CARTE INTERACTIVE AU CENTRE DU SITE
**********/
#carte_interactive_france{
    height: 500px;
}

/**********
STYLE
**********/
#inline{
    display: flex;
}
#echelle{
    margin: 3%;
}
#annees{
    margin: 3%;
}

#titre{
    color: #342626;
    background: #F2F2F2;
    cursor: pointer;
}

label{
    font: Segoe UI  (400);
    font-size: 15px;
    line-height: 128%;
    color: #826161;
}

/*.arrow-down {
    width: 0;
    height: 0;
    
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    
    border-top: 20px solid #f7df6c;
}*/

.onoff{
    border: solid;
    border-color: #E11616;
    background: white;
    cursor: pointer;
}

/*****
Bouton valider
*****/
#btnValidationForm{
    background: white;
    border: none;
    display: flex;
    flex-flow: row;
    cursor: pointer;
}

#arrow{
    font-size: 40px;
    color: red;
    display:flex;
    flex-flow: row;
}
#valider{
    font: Segoe UI  (400);
    font-size: 18px;
    line-height: 135%;
    color: #E11616;
    background: white;
    margin-top: 20%;
}

/**********
BARRE DE RECHERCHE
**********/
#form_recherche {width:358px;margin:0 auto}
#form_recherche .search {
	width:322px;height:33px;margin:4px;padding:0 13px;border:1px solid #cdcdcd;
	color:#ccc;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-moz-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1;
	-webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1;
	box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1
}

#form_recherche .search:focus {
	color:#555;border-color:#c8c8c8;	
	-moz-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #ececec,-4px 4px 0 #ececec,-4px -4px 0 #ececec,4px -4px 0 #ececec;
	-webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #ececec,-4px 4px 0 #ececec,-4px -4px 0 #ececec,4px -4px 0 #ececec;
	box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #ececec,-4px 4px 0 #ececec,-4px -4px 0 #ececec,4px -4px 0 #ececec
}

#form_recherche .suggestions {
	width:342px;position:relative;margin:-6px auto 0;padding:0;list-style-type:none;border:1px solid #d5d4d4;background:#fff;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13px;color:#555;	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;	
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	box-shadow:0 1px 3px rgba(0,0,0,0.1)
}

#form_recherche .suggestions li {height:25px;padding:0 10px;line-height:25px;cursor:pointer;border-top:1px solid #f5f5f5}
#form_recherche .suggestions li:hover {background-position:320px center;border-top-color:#fffac2}
#form_recherche .suggestions li:first-child {border:none;}

#form_recherche{
    font: Segoe UI  (400);
    font-size: 18px;
    line-height: 135%;
}

#barre_recherche_B{
    border: solid;
    border-color: #E11616;
    background: white;
    cursor: pointer;
}

.search{
    background: url(Images/pictos_sareco-15_redim3.png) right no-repeat;
}


#btnRafraichir{
    background: white;
    border: none;
    display: flex;
    flex-flow: row;
    cursor: pointer;
}

#arrow{
    font-size: 40px;
    color: red;
    display:flex;
    flex-flow: row;
}
#rafraichir{
    font: Segoe UI  (400);
    font-size: 18px;
    line-height: 135%;
    color: #E11616;
    background: white;
    margin-top: 15%;
}
/**********
GRAPHIQUES
**********/
#container {
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
}
