

body{
    position : absolute;
    width : 100%;
    background-color:#F2F2F2 ;
    overflow: auto;
}

/**********
TITRE DU SITE
**********/
/*header {
    height: 150px;
    text-align: center;
    font-size: 30px;
    font-family: Constantia;
    font-style: normal;
    font-weight: bold;
    color: rgb(187, 3, 3);
    background: url(Images/logo.png) left  no-repeat ;
    margin: 10px;
}*/

h1 {
    line-height: 115.2%;
    text-align: center;
    font-size: 50px;
    font-family: Segoe UI  (700);
    font-style: normal;
    color: #342626;
}


p{
    font: Segoe UI  (400);
    font-size: 18px;
    color: #826161;
    line-height: 135%;
}

/*header p{
    text-align: right;
    margin: 20px;
}*/

/**********
BARRE DE RECHERCHE
**********/
#form_recherche {width:358px;margin:0 auto}
#form_recherche .search {
	width:322px;height:33px;margin:4px;padding:0 13px;border:1px solid #cdcdcd;
	color:#ccc;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-moz-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1;
	-webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1;
	box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1
}

#form_recherche .search:focus {
	color:#555;border-color:#c8c8c8;	
	-moz-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #ececec,-4px 4px 0 #ececec,-4px -4px 0 #ececec,4px -4px 0 #ececec;
	-webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #ececec,-4px 4px 0 #ececec,-4px -4px 0 #ececec,4px -4px 0 #ececec;
	box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #ececec,-4px 4px 0 #ececec,-4px -4px 0 #ececec,4px -4px 0 #ececec
}

#form_recherche .suggestions {
	width:342px;position:relative;margin:-6px auto 0;padding:0;list-style-type:none;border:1px solid #d5d4d4;background:#fff;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13px;color:#555;	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;	
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	box-shadow:0 1px 3px rgba(0,0,0,0.1)
}

#form_recherche .suggestions li {height:25px;padding:0 10px;line-height:25px;cursor:pointer;border-top:1px solid #f5f5f5}
#form_recherche .suggestions li:hover {background-position:320px center;border-top-color:#fffac2}
#form_recherche .suggestions li:first-child {border:none;}

#form_recherche{
    font: Segoe UI  (400);
    font-size: 18px;
    line-height: 135%;
}

#barre_recherche_B{
    border: solid;
    border-color: #E11616;
    background: white;
    cursor: pointer;
}

/**********
IMAGE LOGO DU SITE
**********/
img{
    max-width: 100%;
	height: auto;
}

/**********
AGENCEMENT DU SITE
**********/
article{
    padding: 10px;
    margin: 10px;
    background: #FFFFFF;
}

/*****
Add your flexbox CSS below here
*****/
section{
    display : flex;
}

article{
    flex: 1 100px;
}

article:nth-of-type(1){
    display : flex;
    flex-flow: column;
    /*justify-items: left;*/
    background: #FFFFFF;
}

article:nth-of-type(2){
    flex: 3 200px;
    display: flex;
    flex-flow: column;
}

/*article:nth-of-type(3){
    flex: 1 150px;
    display: flex;
}*/

/*article:nth-of-type(1) div#choix_annee{
    flex: 1 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}*/


h4{
    font-family: Segoe UI  (700);
    font-size: 20px;
    line-height: 109.2%;
    color: #342626;  
}

/**********
CARTE INTERACTIVE LYON AU CENTRE DU SITE
**********/
#carte_interactive_france{
    height: 500px;
}

/**********
STYLE
**********/
#inline{
    display: flex;
    /*justify-content: space-around;*/
}

#checkbox_taux_de_venue{
    font: Segoe UI  (400);
    font-size: 15px;
    line-height: 128%;
    color: #826161;
}
label{
    font: Segoe UI  (400);
    font-size: 15px;
    line-height: 128%;
    color: #826161;
}

/*
#button_rafraichir {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 15px;

    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    }
#button_rafraichir p {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
#button_rafraichir p:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
#button_rafraichir:hover {
    background-color: #f7c2f9;
}
#button_rafraichir:hover p {
    padding-right: 25px;
}
#button_rafraichir:hover p:after {
    opacity: 1;
    right: 0;
}*/

.onoff{
    border: solid;
    border-color: #E11616;
    background: white;
    cursor: pointer;
}

#btnValidationForm{
    /*top: 200px;
    left: 500px;*/
    background: white;
    border: none;
    display: flex;
    flex-flow: row;
    cursor: pointer;
}

#arrow{
    font-size: 40px;
    color: red;
    display:flex;
    flex-flow: row;
}
#valider{
    font: Segoe UI  (400);
    font-size: 18px;
    line-height: 135%;
    color: #E11616;
    background: white;
    margin-top: 20%;
}


/**********
TITRE CHOIX DES INDICATEURS
**********/

/*
#Choix_des_indicateurs {
    left: 148px;
    top: 249px;
    position: absolute;

    width: 251px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255,1,1,1);
}
*/



/**********
INDICATEURS
**********/

/**********
TAUX DE MOTORISATION DES MENAGES
**********/
/*
#Taux_de_motorisation_des_menages {
    left: 35px;
    top: 363px;
    position: absolute;
    overflow: visible;
    width: 307px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(6,6,6,1);
}

#Niveau__ {
    left: 35px;
    top: 400px;
    position: absolute;
    overflow: visible;
    width: 83px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,1,1,1);
}


#Composant_Communes_1 {
    position: absolute;
    width: 183px;
    height: 37px;
    left: 119px;
    top: 395px;
    overflow: visible;
}

#Liste_communes_iris_1{
    width: 191px;
    height: 39px;
    cursor: pointer;
    font-size: 15px;
}
*/


